# core app
streamlit>=1.32
pandas>=2.0
numpy>=2.0
scikit-learn==1.7.0

hmmlearn==0.3.3
joblib==1.5.1

soundfile>=0.12
pydub>=0.25
imageio-ffmpeg>=0.4.8
scipy>=1.10  # already present via scikit-learn, but listing is fine

